@{
  Layout = "_Layout";
}

@model PierreJustCannotHelpHimself.Models.Treat

<h4>Add a new treat</h4>
@using (Html.BeginForm())
{
  @Html.Label("Name of new treat")
  @Html.TextBoxFor(model => model.Name, new { @class = "text", type = "text", required = "required" })
  @Html.Label("Flavors")
  @Html.DropDownList("FlavorId", null, string.Empty)
  <input type="submit" value="Add new treat" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>